<div class="footer footer-logining">
    <div class="container ">
        <div class="row info-div">
            <div class="col-sm-12 col-md-3 img-div">
                <img src="~/images/922a8968eed2783c08497401f88a5633.webp"
                     alt="">
            </div>
            <div class="col-sm-12 col-md-5 content-div">
                <h2 style="color:#ffffff">Want more Information?</h2>
                <p>We seek to create long-term relationships built on results.</p>
            </div>
            <div class="col-sm-12 col-md-4 btn-div">
                <a class="responsive-contactus"
                   href="/contact-us">
                    <button class="btn text-uppercase get-a-quote ">
                        Contact
                        Us
                    </button>
                </a>
            </div>
        </div>
        <div class="footer-main-wrapper">
            <div class="footer-link-container row">
                <div class="footer-link-column col-sm-12 col-md-4">
                    <a class="text-uppercase footer-link-header">Company</a><a href="/about-us">About Us</a>
                    <a href="/p/terms.html"
                       target="_blank">Terms of Service</a><a href="/p/policy.html"
                                                              target="_blank">Privacy Policy</a>
                </div>
                <div class="footer-link-column col-sm-12 col-md-4">
                    <a class="text-uppercase footer-link-header">Resources</a><a href="/how-it-works">How it Works</a><a href="/pricing">Pricing</a><a href="/virtual-assistants" target="_blank">Blog</a><a href="/faq">FAQ</a><a href="/contact-us">
                        Contact
                        Us
                    </a>
                </div>
                <div class="footer-link-column col-sm-12 col-md-4">
                    <a class="text-uppercase footer-link-header">Browse</a><a class="pointer"
                                                                              href="/register">Post a job</a><a class="pointer"
                                                                                                                href="/register">Get a job</a><a href="/p/virtual-assistant-recruiting-service.html">Virtual Assistant Services</a><a href="/hire-virtual-assistant">Hire Virtual Assistants</a><a href="/p/virtual-assistants-philippines.html">Virtual Assistant In Philippines</a>
                </div>
            </div>
            <div class="footer-bottom-container row">
                <div class="footer-social-container col-sm-12 col-md-6">
                    <span class="footer-follow-us text-uppercase">Follow Us</span>
                    <div class="footer-social-icons">
                        <a href="https://www.facebook.com/eVirtualAssistants" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a><a href="https://twitter.com/eVAssistant" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a><a href="https://www.instagram.com/eVirtAssist/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a><a href="https://www.linkedin.com/company/evirtualassistants"
                               target="_blank"><i class="fa fa-linkedin"></i></a><a href="https://www.youtube.com/channel/UCAImQ5eu4tbKyV0KCeefm-w" target="_blank">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-copy-right col-sm-12 col-md-6">
                    <span>
                        4801 Lang Ave NE Ste 110-1088 Albuquerque, NM 87109<br>Copyright © 2022 - eVertualAssistants All Rights Reserved.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144720137-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144720137-1');
</script>
