<div class="header mt-3 mb-3">
    <div class="container">
        <div class="row desktop-menu">
            <div class="logo col-md-3 pl-0">
                <a href="/">
                    <img src="~/images/f452e50c2b9cf460df3435ff5e8a60a2.webp"
                         alt="">
                </a>
            </div>
            <div class="navigationbar col-md-7 d-flex justify-content-between align-items-center  ">
                <div class="main-nav">
                    <span class="text-uppercase">
                        <a href="how-it-works">
                            how
                            it works
                        </a>
                    </span><span class="text-uppercase">
                        <a href="/pricing">pricing</a>
                    </span><span style="margin-left :15px" class="text-uppercase"><a href="/hire-virtual-assistant/virtual-assistants/all">browse</a></span>
                </div>
                <div class="auth-links">
                    <span class="text-uppercase">
                        <a href="/sign-In">
                            sign
                            in
                        </a>
                    </span><span class="text-uppercase">
                        <a href="/register">
                            sign
                            up
                        </a>
                    </span>
                </div>
            </div>
            <div class="job-post col-md-2 d-flex align-items-center justify-content-end p-0">
                <a href="/register"> <button class="btn text-uppercase">get started</button></a>
            </div>
        </div>
    </div>
    <div class="row mobile-menu align-items-center">
        <span class="round-borders"></span>
        <div class="navigationbar col">
            <div>
                <div class="" id="menuToggle">
                    <input type="checkbox"><span></span><span></span><span></span>
                    <ul class="hr-menu d-none" id="menu">
                        <ul class="hr-menu">
                            <li><a href="/how-it-works">how it works</a></li>
                            <li><a href="/pricing">pricing</a></li>
                            <li><a href="/hire-virtual-assistant/virtual-assistants/all">browse</a></li>
                            <li><a href="/sign-In">sign in</a></li>
                            <li><a href="/register">sign up</a></li>
                            <li><a class="text-orange" href="/sign-In">get started</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="logo col text-center">
            <a href="/">
                <img src="~/images/f452e50c2b9cf460df3435ff5e8a60a2.webp"
                     alt="">
            </a>
        </div>
        <div class="job-post mobile-header col text-right">
            <a href="/register"><button class="btn text-uppercase">get started</button></a>
        </div>
    </div>
</div>
</div>
